@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.show-menu img{
    max-height: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272727;
	padding: 15px 10%; /* cosas del header añadidas por mi */
	border-bottom: 2px solid #ffd600;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 9999;
}
header ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*Crea la listahorizontal con espacio*/
header li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/* Estilos para los link */
header li a {
	display:block;
	padding: 0 23px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
	color: whitesmoke;
	text-decoration: none;
  transition:all 0.5s ease;
}

/* estados hover de los link */
header li:hover a {
	color: #ffd600;
}

/* estilos del dropdown */
header li:hover ul a {
	background: #f3f3f3;
	color: white;
	height: 40px;
	line-height: 40px;
}

/* estilos del estado hover del dropdown*/
header li:hover ul a:hover {
	background: #ffd600;
	color: black;
}

/*Oculta el dropdown*/
header li ul {
	display: none;
}

/* Pone el dropdown en vertical */
header li ul li {
	display: block;
	float: none;
}

/* Previene el texto wrapping */
header li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/* Estilo de .muestra-menu */
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: black;
	background: #ffd600;
	text-align: center;
	padding: 10px 0;
	display: none;
  transition:all 0.5s ease;
}

/*Oculta el checkbox*/
input[type=checkbox]{
    display: none;
}

/* muestra el menu cuando el checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/* --------- INICIO --------- */
#banner {
	background: url(./img/Banner\ img.png);
	background-size: cover;
	height: 95vh;
	width: 100%;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#banner a {
	text-decoration: none;
	color: black;
	background-color: #ffd600;
	padding: 12px 26px;
	display: inline-block;
	font-family: 'Montserrat';
	font-weight: bold;
	border: 3px solid #ffd600;
	border-radius: 3px;
}
#banner a:hover {
	color: #ffd600;
	background-color: transparent;
	border-radius: 3px;
}
#banner p{
	color: white;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	font-size: 1.3rem;
	margin: 40px 0;
	letter-spacing: 0.3rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
#banner img{
	width: 80%;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 10));

}

/* SECC: PRESENTACION, ENTRENAMIENTOS Y NUTRICIOÓN*/
#pres, #sec-entren, #sec-nutri {
    background-color: #f6f6f6;
    padding: 40px 10%;
}
h2 {
    font-size: 2em;
    color: #333;
	font-family: 'Montserrat';
}

#pres h2, #sec-entren h2, #sec-nutri h2{
	text-align: start;
	position: relative;
	padding-bottom: 10px;
}
#ofrece h2, #sec-coach h2{
	text-align: end;
	position: relative;
	padding-bottom: 10px;
}
#pres h2::after, #sec-entren h2::after, #sec-nutri h2::after{
	content: "";
	margin-right: auto;
	display: block;
	height: 3px;
	background-color: #ffd600; 
}
#pres h2::after{
	width: 15%;
}
#sec-entren h2::after{
	width: 40%;
}
#sec-nutri h2::after{
	width: 7%;
}
#ofrece h2::after, #sec-coach h2::after{
	content: "";
	display: block;
	margin-left: auto;
	height: 3px;
	background-color: #ffd600; 
}
#ofrece h2::after{
	width: 15%;
}
#sec-coach h2::after{
	width: 38%;
}
.container{
    display: flex;
    align-items: center;
    gap: 40px;
}
#pres img, #sec-entren img, #sec-nutri img {
    width: 32%;    
    border-radius: 10px;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
p {
    line-height: 2rem;
	font-size: 1.05rem;
	font-family: 'Montserrat';
}
/* SECC: OFRECE Y COACH*/
#ofrece, #sec-coach {
    background-color: white;
    padding: 40px 10%;
}
#ofrece img, #sec-coach img{
	width: 32%;    
    border-radius: 10px;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

/* --------- FOOTER --------- */
footer{
	background-color: #272727;
	display: flex;
	justify-content: space-evenly;
	padding: 50px;
}
.redes{
	display: flex;
	width: 100%;
	justify-content: center;
}
.redes img{
	width: 40px;
	margin: 20px 8px;
}
footer > div:nth-child(2){
	display: flex;
	justify-content: center;
	flex-direction: column;
}
footer > div:nth-child(1){
	display: flex;
}
footer ul{
	list-style: none;
	line-height: 1.7rem;
}
footer a{
	text-decoration: none;
	color: #ffffffa9;
	font-size: 12px;
	font-family: 'Montserrat';
}
h3{
	font-family: 'Montserrat';
}
footer h3{
	font-size: 14px;
	color: white;
}

/* --------- PREMIUM --------- */

#premium{
	background-color: whitesmoke
}
#prem-banner{
	background: url(./img/premium\ banner.png);
	background-size: cover;
	height: 52vh;
}
#prem-banner span{
	color: #ffd600;
	font-family: 'anton';
	font-weight: bold;
	font-style: italic;
	letter-spacing: 2px;
	width: 40%;
	display: flex;
	justify-content: center;
	font-size: 5rem;
	padding-top: 35px; 
	line-height: 1.2;
}
h1{
	font-family: "Montserrat";
	color: white;
	font-size: 4rem;
	text-align: center;
	padding: 20px;
}
h1 span{
	font-family: "Montserrat";
	color: #ffd600;
}
#difpremium{
	background: url(./img/fondonegro.jpg);
	border-top: 1px solid #ffd600;
	border-bottom: 1px solid #ffd600;
	text-align: center;
	padding: 30px;
}
#difpremium > div{
	display: flex;
	justify-content: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#difpremium > div > div{
	margin: 40px 7%;
	background-color: white;	
	border-radius: 15px;	
	box-shadow: 5px 5px 25px rgba(255, 255, 255, 0.1);
}
#difpremium img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
}
#difpremium p{
	font-size: 15px;
}
#difpremium  div > div{
	width: 39%;
}
#difpremium h2{
	margin: 15px;
}
#difpremium a{
	text-decoration: none;
	font-size: 1.8em;
    color: #333;
	font-family: 'Montserrat';
	font-weight: bold;
	background-color: #f3f3f3de;
	padding: 5px 20%;
	display: inline-block;
	margin: 25px;
	border-radius: 6px;
	transition: transform 0.3s ease;
}
#difpremium a:hover{
	background-color: #ffd500b4;
	transform: scale(1.1);
}

/* --------- NUTRICION --------- */

#nutri div:nth-child(1) img{
	width: 100%;
}
#recetas ul{
	list-style: none;
	font-family: 'Montserrat';
	margin: 0 8px;
	line-height: 25px;
}
#recetas img{
	width: 55%;
	border-radius: 20px;
}
#recetas{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	padding: 30px 20px;
}
#recetas > div > p{
	min-height: 80px;
}
#recetas > div{
	width: 30%;
	background-color: #f6f6f6;
	border-radius: 20px;
	padding: 30px;
}	
.foto{
	display: flex;
	justify-content: center;
}
#nutri div:nth-child(2){
	padding: 25px 5%;
	text-align: justify;
}
#recetas h3{
	margin-top: 25px;
}
#nutri h2{
	text-align: center;
	position: relative;
	padding-bottom: 30px;
}
#nutri h2::after{
	content: "";
	display: block;
	height: 3px;
	background-color: #ffd600; 
	margin: auto;
	width: 30%;
	margin-top: 8px;
}
#nutri p{
	margin-top: 10px;
}
#nutri a{
	color: #272727;
	font-weight: bold;
}

/* --------- INICIAR SESIÓN Y CONTACTO--------- */

#login, #contacto{
	background-color: #272727;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
	color: #272727;
	flex-direction: column;
}
#log footer, #contac footer{
	border-top: 1px solid #ffd600;
}
#login input, #contac input{
	display: block;
	margin: 10px auto;
	width: 100%;
	padding: 10px;
	font-family: 'Montserrat';
	border:1px solid #272727;
	border-radius: 6px;
}
#login form, #contacto form{
	margin: auto;
	padding: 20px;
}
.olvidar{
	text-decoration: none;
	color: #272727;
	font-weight: bold;
	font-size: 12px;
}
#login div, #contacto div{
	background-color: white;
	width: 30%;	
	padding: 20px 10px;
	margin-bottom: 40px;
	border-radius: 10px;
}
#login h1, #contacto h1{
	color: #272727;
	font-size: 50px;
	text-align: center;
}
#login h3{
	color: white;
}
#login > a{
	color: white;
	font-size: 12px;
	margin-top: 10px;
}
.btn-login{
	cursor: pointer;
}
.btn-login:hover{
	background-color: #ffd600;
}
textarea{
	border: 1px solid black;
	border-radius: 6px;
	font-family: "Montserrat";
	padding: 10px;
	margin: 10px auto;
	width: 100%;
}


/* --------- TIENDA --------- */
#tienda{
	background: url(./img/fondonegro.jpg);	
	color: white;
	padding-bottom: 40px;
}
#tienda img{
	width: 60%;
	border-radius: 7px;
}
#tienda img:hover{
	transition: transform 0.3s ease, filter 0.3s ease;
	transform: translateY(-10px); /* Levanta la imagen un poco */
	filter: brightness(0.6); /* filtro para que se ponga un poco oscura*/
}  
.prod{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 5px;
}
.prod p{
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}
article{
	text-align: center;
	margin: 30px 0;
}
article a span{
	text-align: start;
	font-weight: bold;
	font-size: 1.2rem;
	color: #ffd600;
}
.cesta{
	padding: 7px;
	border: 2px solid white;
	border-radius: 10px;
	margin: 0 0 0 12px;
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
.cesta:hover{
	background-color: #ffd600;
	border: 2px solid #272727;
	border-radius: 10px;
	color: #272727;
}
article a{
	color: white;
	text-decoration: none;
}
#tienda h1{
	padding-top: 35px;
}

/* --------- ENTRENAMIENTOS --------- */
#entrenamts{
	padding: 40px 10%;
	text-align: justify;
}
#entrenamts h2{
	text-align: center;
	padding-bottom: 30px;
	position: relative;
}
#entrenamts h2::after{
	content: "";
	display: block;
	height: 3px;
	background-color: #ffd600; 
	width: 60%;
	margin: auto;
	margin-top: 8px;
}
#entren-inicio div{
	display: flex;
	justify-content: center;
	margin: 35px;
}
#entren-inicio img{
	width: 50%;
	border-radius: 5px;
}
#rutinas h2::after{
	width: 40%;
}
#rutinas h2{
	margin-top: 40px;
}
#rutinas div{
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}
table{
	width: 60%;
    border-collapse: collapse;
	padding: 40px;
}
td{
	padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
	font-weight: bold;	
	font-size: 1.2rem;
	color: #3f2a56;
}
table a{
	text-decoration: none;
	color: #3f2a56;
}
.princ{
	margin-top: 25px;
}



/* estilos responsive */

@media screen and (max-width : 992px){
	/*Hace que el dropdown links aparescan en linea */
	ul {
		position: static;
		display: none;
	}
	/*Crea espacio vertical */
	li {
		margin-bottom: 1px;
	}
	/* crea todo el menu links  ancho full */
	ul li, li a {
		width: 100%;
		background-color: #272727;
	}
	/*Display '.muestra-menu' link*/
	.show-menu {
		display:block;
	}
    header{
        display: block;
        text-align: center;
        top:0;
		padding: 0;
    }

}
@media screen and (max-width : 500px){
	.container{
		flex-direction: column;
	}
	#pres img{
		width: 100%;
	}
	#pres h2::after{
		width: 58%;
	}
}






body{
	font-family: 'Montserrat';
    /*height: 200vh;*/
}