@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.show-menu img{
    max-height: 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272727;
	padding: 15px 10%; /* cosas del header añadidas por mi */
	border-bottom: 6px solid #ffd600;
	position: fixed;
	width: 100%;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*Crea la listahorizontal con espacio*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/* Estilos para los link */
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
	color: whitesmoke;
	text-decoration: none;
  transition:all 0.5s ease;
}

/* estados hover de los link */
li:hover a {
	color: #ffd600;
}

/* estilos del dropdown */
li:hover ul a {
	background: #f3f3f3;
	color: white;
	height: 40px;
	line-height: 40px;
}

/* estilos del estado hover del dropdown*/
li:hover ul a:hover {
	background: #ffd600;
	color: black;
}

/*Oculta el dropdown*/
li ul {
	display: none;
}

/* Pone el dropdown en vertical */
li ul li {
	display: block;
	float: none;
}

/* Previene el texto wrapping */
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/* Estilo de .muestra-menu */
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: black;
	background: #ffd600;
	text-align: center;
	padding: 10px 0;
	display: none;
  transition:all 0.5s ease;
}

/*Oculta el checkbox*/
input[type=checkbox]{
    display: none;
}

/* muestra el menu cuando el checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/* --------- INICIO --------- */
#banner {
	background: url(./img/Banner\ img.png);
	background-size: cover;
	height: 88vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#banner a {
	text-decoration: none;
	color: black;
	background-color: #ffd600;
	padding: 12px 26px;
	font-family: 'Montserrat';
	font-weight: bold;
	border: 3px solid #ffd600;
	border-radius: 3px;
	margin-top: 16%;
}
#banner a:hover {
	color: #ffd600;
	background-color: transparent;
	border-radius: 8%;
	border-color: #ffd600;
}

/* SECC: PRESENTACION Y ENTRENAMIENTOS*/
#pres, #entren {
    background-color: #f6f6f6;
    padding: 40px 10%;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    color: #333;
}

.container{
    display: flex;
    align-items: center;
    gap: 40px;
}

#pres img, #entren img {
    width: 43%;    
    border-radius: 10px;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

p {
    line-height: 1.7rem;
}

/* SECC: OFRECE */
#ofrece {
    background-color: white;
    padding: 40px 10%;
}

#ofrece img {
	width: 43%;    
    border-radius: 10px;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}










/* estilos responsive */

@media screen and (max-width : 768px){
	/*Hace que el dropdown links aparescan en linea */
	ul {
		position: static;
		display: none;
	}
	/*Crea espacio vertical */
	li {
		margin-bottom: 1px;
	}
	/* crea todo el menu links  ancho full */
	ul li, li a {
		width: 100%;
	}
	/*Display '.muestra-menu' link*/
	.show-menu {
		display:block;
	}
    header{
        display: block;
        text-align: center;
        position: sticky;
        top:0;
    }

}
/*body{
    height: 200vh;
}*/